<h1>List of all your articles</h1>
<% @articles.each do |article| %>
    <%= link_to article.title, article_path(article) %><hr>
<% end %>
   
<%= link_to 'Back', root_path, class: "btn btn-primary" %>
<%= link_to 'New Article', new_article_path, class: "btn btn-primary" %><br><br><br>
<%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-danger" %>